.header {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 12.5px 0;
    position: fixed !important;
    top: 0;
    z-index: 99999;
    background: #fff;
    min-height: 24px;
    span:first-child {
        font-size: 18px;
        left: 0;
        font-weight: 700;
        top: 0;
        width: 45px;
        padding: 15px 0;
        display: inline-block;
        position: absolute;
    }
}

.mescroll {
    position: fixed;
    top: 50px;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow-y: auto;
    background-color: #f5f5f5;
    .mescroll-downwarp-reset {
        -webkit-transition: height .3s;
        transition: height .3s;
    }
    .mescroll-downwarp {
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        text-align: center;
        p {
            height: 20px;
        }
    }
    .downwarp-content {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 15px;
        padding: 5px 0;
        img {
            display: inline-block;
            width: 37.5px;
            height: 18px;
        }
    }
    .mescroll-downwarp .downwarp-tip,
    .mescroll-upwarp .upwarp-tip {
        margin-left: 4px;
    }
    .mescroll-downwarp .downwarp-tip,
    .mescroll-upwarp .upwarp-nodata,
    .mescroll-upwarp .upwarp-tip {
        display: inline-block;
        font-size: 6px;
        color: grey;
        vertical-align: middle;
    }
    .mescroll-downwarp .downwarp-tip,
    .mescroll-upwarp .upwarp-nodata,
    .mescroll-upwarp .upwarp-tip {
        font-size: 10px!important;
        line-height: 20px;
    }
    .main {
        margin: 0;
        height: auto;
        background: #f5f5f5;
        padding: 0 12px;
        min-height: 250px;
        .top_box {
            margin-top: 13px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .left,
            .right {
                vertical-align: top;
                background: #fff;
                overflow: hidden;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
            }
            .left {
                border-right: 1px solid #eee;
                -ms-flex-direction: column;
                flex-direction: column;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                img {
                    width: 157px;
                }
            }
            .info {
                padding: 12px 0 12px 12px;
                span {
                    font-size: 15px;
                    color: #474747;
                    margin-bottom: 4px;
                    display: block;
                }
                p {
                    font-size: 12px;
                    color: #999;
                }
            }
            .right {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                -ms-flex-direction: column;
                flex-direction: column;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                img {
                    width: 113px;
                }
                .bottom,
                .top {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                }
                .top {
                    border-bottom: 1px solid #eee;
                    border-top-right-radius: 20px;
                }
                .bottom {
                    border-bottom-right-radius: 20px;
                }
            }
        }
        .baike_box {
            background: #fff;
            padding: 16px 12px 0 12px;
            margin-top: 12px;
            border-radius: 10px;
            overflow: hidden;
            .title {
                display: flex;
                justify-content: space-between;
                span {
                    font-size: 17px;
                    color: #333;
                    font-weight: 700;
                }
                a {
                    font-size: 14px;
                    color: #999;
                    span {
                        font-size: 12px;
                        position: relative;
                        bottom: 1px;
                        color: #999;
                    }
                }
            }
        }
        .category_box {
            padding: 12px 0;
            .item {
                width: 25%;
                font-size: 0;
                display: inline-block;
                text-align: center;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 80px;
                    display: inline-block;
                }
                span {
                    margin-top: 8px;
                    display: block;
                    color: #666;
                    font-size: 12px;
                }
            }
        }
        .featured_box {
            margin-top: 12px;
            padding: 12px;
            background: #fff;
            font-size: 0;
            border-radius: 20px;
            .category {
                width: 100%;
                margin-bottom: 12px;
                span {
                    display: inline-block;
                    width: 50%;
                    font-size: 15px;
                    color: #333;
                    padding-bottom: 12px;
                    text-align: center;
                    position: relative;
                }
                span.on {
                    font-weight: 700;
                }
                span.on:after {
                    background: #2283e2;
                }
                span:after {
                    content: "";
                    width: 24.5px;
                    height: 3.5px;
                    display: block;
                    background: #fff;
                    left: 50%;
                    position: absolute;
                    bottom: 0;
                    margin-left: -12px;
                }
                span.on:after {
                    background: #2283e2;
                }
            }
        }
    }
    .mescroll-upwarp {
        min-height: 15px;
        padding: 7.5px 0;
        text-align: center;
        visibility: hidden;
    }
}

.posting {
    position: fixed;
    z-index: 100;
    right: 12px;
    bottom: 10%;
    height: 218px;
    width: 61px;
    .posting_box {
        width: 100%;
        border-radius: 61px;
        text-align: center;
        position: absolute;
        top: 85.5px;
        bottom: 84.5px;
        -webkit-transition: all .5s;
        transition: all .5s;
        .logo {
            position: absolute;
            top: 50%;
            margin-top: -24px;
            left: 0;
            right: 0;
            font-size: 0;
            line-height: 0;
            .new_question {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                opacity: 0;
                -webkit-transition: all .5s;
                transition: all .5s;
                img {
                    display: inline-block;
                    width: 27.5px;
                }
                span {
                    display: block;
                    font-size: 12px;
                    color: #333;
                    line-height: 1em;
                    margin-top: 10px;
                }
            }
            .logo_pic {
                display: inline-block;
                width: 48px;
                position: relative;
                z-index: 1000;
            }
            .new_topic {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                -webkit-transition: all .5s;
                transition: all .5s;
                img {
                    display: inline-block;
                    width: 27.5px;
                }
                span {
                    display: block;
                    font-size: 12px;
                    color: #333;
                    line-height: 1em;
                    margin-top: 10px;
                }
            }
        }
    }
    .posting_box.open {
        background-color: hsla(0, 0%, 100%, .9);
        -webkit-box-shadow: 0 0 21px 0 rgba(4, 4, 4, .14);
        box-shadow: 0 0 21px 0 rgba(4, 4, 4, .14);
        top: 0;
        bottom: 0;
    }
}